<a href="https://colab.research.google.com/github/verma-saloni/Thesis-Work/blob/main/Copy_of_Clean_Fasttext_10_records.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install unidecode
!pip install word2number
!pip install contractions

Collecting unidecode
  Downloading Unidecode-1.3.2-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 4.3 MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.3.2
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5582 sha256=0ae776de1e602cba2a6ff74886f6179b2b58ffb05908df75ba84a6096de0b671
  Stored in directory: /root/.cache/pip/wheels/4b/c3/77/a5f48aeb0d3efb7cd5ad61cbd3da30bbf9ffc9662b07c9f879
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Collecting contractions
  Downloading contractions-0.1.66-py2.py3-none-any.whl (8.0 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.21-py2.py3-none-any.whl (7.5 kB)
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.2.tar.gz (321 kB)
     |████████████████████████████████| 321 kB 4.3 MB/s
Collecting anyascii
  Downloading anyascii-0.3.0-py3-none-any.whl (284 kB)
     |████████████████████████████████| 284 kB 33.1 MB/s
Building wheels for collected packages: pyahocorasick
  Building wheel for pyahocorasick (setup.py) ... done
  Created wheel for pyahocorasick: filename=pyahocorasick-1.4.2-cp37-cp37m-linux_x86_64.whl size=85452 sha256=7c8f1929b73e7b6fe90a41d8e44a139b8cc0ff8d6f26d733cf37fc67733ee6c0
  Stored in directory: /root/.cache/pip/wheels/25/19/a6/8f363d9939162782bb8439d886469756271abc01f76fbd790f
Successfully built pyahocorasick
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.0 contractions-0.1.66 pyahocorasick-1.4.2 textsearch-0.0.21

In [10]:
import pandas as pd
import numpy as np
import nltk
import gensim
from gensim.models import Word2Vec
import string
string.punctuation
nltk.download('stopwords')
import re
from bs4 import BeautifulSoup
import spacy
import unidecode
from word2number import w2n
import contractions
from nltk.tokenize.treebank import TreebankWordDetokenizer
# load spacy model, can be "en_core_web_sm" as well
from sklearn.model_selection import train_test_split
import xgboost as xgb

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
from google.colab import drive
drive._mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
df_fake = pd.read_csv('/content/drive/MyDrive/Thesis/gossipcop_fake.csv')
df_real = pd.read_csv('/content/drive/MyDrive/Thesis/gossipcop_real.csv')
df_fake['labelML']=0
df_real['labelML']=1

df_fake.count()

id           5323
news_url     5067
title        5323
tweet_ids    5135
labelML      5323
dtype: int64

In [5]:
#dforiginal = df_fake.head(5).append(df_real.head(5))

In [12]:
#df= df_fake.head(10).append(df_real.head(10))
df= df_fake.append(df_real)
df.reset_index(drop=True, inplace=True)

In [37]:
#print(df.columns)
##df.count()
df

                         id  ... labelML
0      gossipcop-2493749932  ...       0
1      gossipcop-4580247171  ...       0
2       gossipcop-941805037  ...       0
3      gossipcop-2547891536  ...       0
4      gossipcop-5476631226  ...       0
...                     ...  ...     ...
22135      gossipcop-891749  ...       1
22136      gossipcop-941486  ...       1
22137      gossipcop-953143  ...       1
22138      gossipcop-954366  ...       1
22139      gossipcop-877062  ...       1

[22140 rows x 5 columns]

In [38]:
print(df)

                         id  ... labelML
0      gossipcop-2493749932  ...       0
1      gossipcop-4580247171  ...       0
2       gossipcop-941805037  ...       0
3      gossipcop-2547891536  ...       0
4      gossipcop-5476631226  ...       0
...                     ...  ...     ...
22135      gossipcop-891749  ...       1
22136      gossipcop-941486  ...       1
22137      gossipcop-953143  ...       1
22138      gossipcop-954366  ...       1
22139      gossipcop-877062  ...       1

[22140 rows x 5 columns]

In [13]:
df1= df.drop(['tweet_ids', 'news_url','id'], axis=1)
df1.count()

title      22140
labelML    22140
dtype: int64

In [14]:
# FOR URL Preprocessing now. 
dfurl = df.drop(['tweet_ids','id'], axis=1)
dfurl.head()

                                            news_url  ... labelML
0  www.dailymail.co.uk/tvshowbiz/article-5874213/...  ...       0
1  hollywoodlife.com/2018/05/05/paris-jackson-car...  ...       0
2  variety.com/2017/biz/news/tax-march-donald-tru...  ...       0
3  www.dailymail.co.uk/femail/article-3499192/Do-...  ...       0
4  variety.com/2018/film/news/list-2018-oscar-nom...  ...       0

[5 rows x 3 columns]

In [25]:
def remove_URL(sample):
    print(type(sample))
    if type(sample) == "str":
      return re.sub(r"http\S+", "", sample)

In [ ]:
#dfurl['news_url'] = dfurl['news_url'].apply(lambda x: ' '.join(remove_URL(x)))

In [14]:
# NLP Preprocessing
from gensim.utils import simple_preprocess

# NLP Preprocess - gensim.utils.simple_preprocess(doc, deacc=False, min_len=2, max_len=15)[source]
# Convert a document into a list of tokens.
# This lowercases, tokenizes, de-accents (optional). – the output are final tokens = unicode strings, that won’t be processed any further.

df1.iloc[:, 0] = df1.iloc[:, 0].apply(lambda x: ' '.join(simple_preprocess(x)))

In [15]:
print(df1)
#df1.count()

                                                   title  labelML
0      did miley cyrus and liam hemsworth secretly ge...        0
1      paris jackson cara delevingne enjoy night out ...        0
2      celebrities join tax march in protest of donal...        0
3      cindy crawford daughter kaia gerber wears wig ...        0
4                 full list of oscar nominations variety        0
...                                                  ...      ...
22135  hollywood film awards the complete list of win...        1
22136  jada pinkett smith explains why son jaden move...        1
22137  tinsley mortimer reacts to luann de lesseps re...        1
22138  prince harry carries on princess diana legacy ...        1
22139  kylie jenner is actually terrified of butterflies        1

[22140 rows x 2 columns]

In [16]:
print(df1)

                                                   title  labelML
0      did miley cyrus and liam hemsworth secretly ge...        0
1      paris jackson cara delevingne enjoy night out ...        0
2      celebrities join tax march in protest of donal...        0
3      cindy crawford daughter kaia gerber wears wig ...        0
4                 full list of oscar nominations variety        0
...                                                  ...      ...
22135  hollywood film awards the complete list of win...        1
22136  jada pinkett smith explains why son jaden move...        1
22137  tinsley mortimer reacts to luann de lesseps re...        1
22138  prince harry carries on princess diana legacy ...        1
22139  kylie jenner is actually terrified of butterflies        1

[22140 rows x 2 columns]

In [17]:
df1.count()

title      22140
labelML    22140
dtype: int64

In [44]:
!wget https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.en.300.bin.gz
!gunzip cc.en.300.bin.gz

--2022-02-02 07:41:24--  https://dl.fbaipublicfiles.com/fasttext/vectors-crawl/cc.en.300.bin.gz
Resolving dl.fbaipublicfiles.com (dl.fbaipublicfiles.com)... 104.22.74.142, 104.22.75.142, 172.67.9.4, ...
Connecting to dl.fbaipublicfiles.com (dl.fbaipublicfiles.com)|104.22.74.142|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4503593528 (4.2G) [application/octet-stream]
Saving to: ‘cc.en.300.bin.gz’

cc.en.300.bin.gz    100%[===================>]   4.19G  25.4MB/s    in 2m 51s

2022-02-02 07:44:15 (25.2 MB/s) - ‘cc.en.300.bin.gz’ saved [4503593528/4503593528]

gzip: cc.en.300.bin already exists; do you wish to overwrite (y or n)? n
	not overwritten

trying to see similarity of vectors created.

In [ ]:
!pip install fasttext
!pip install pyfasttext

In [1]:
!pip install fasttext
import fasttext as ft

!pip3 install pyfasttext
from pyfasttext import FastText

# Loading model for English
modelog = ft.load_model('cc.en.300.bin')

Requirement already satisfied: fasttext in /usr/local/lib/python3.7/dist-packages (0.9.2)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext) (1.19.5)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.7/dist-packages (from fasttext) (2.9.0)
Requirement already satisfied: pyfasttext in /usr/local/lib/python3.7/dist-packages (0.4.6)
Requirement already satisfied: cysignals in /usr/local/lib/python3.7/dist-packages (from pyfasttext) (1.11.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pyfasttext) (1.19.5)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyfasttext) (0.16.0)
Requirement already satisfied: Cython>=0.28 in /usr/local/lib/python3.7/dist-packages (from cysignals->pyfasttext) (0.29.26)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [2]:
c = modelog.get_sentence_vector('paris hiltion liam hemswoth go to hospital')
d = modelog.get_sentence_vector('miley cyrus liam hemswoth go to hospital')

In [3]:
from sklearn.metrics.pairwise import cosine_similarity
from scipy import spatial
cosine_similarity = 1 - spatial.distance.cosine(c, d)
cosine_similarity

0.8526310920715332

In [4]:
modelog.get_nearest_neighbors('hello')

[(0.7143728733062744, 'hellow'),
 (0.7095366716384888, 'hello.'),
 (0.703833818435669, 'hi'),
 (0.6944323182106018, 'hullo'),
 (0.6912142038345337, 'hello-'),
 (0.663975715637207, 'Hello'),
 (0.6563249230384827, 'hello.I'),
 (0.6529381275177002, 'howdy'),
 (0.6283847689628601, 'hellooo'),
 (0.6235803365707397, 'hellooooo')]

In [18]:
embedding=[]
for line in df1['title']:
    pred_label=modelog.get_sentence_vector(line)
    embedding.append(pred_label)

# you add the list to the dataframe, then save the datframe to new csv
df1['prediction']=embedding
df1.to_csv('csv_word_embed_gossipcop.csv',index=False)

In [19]:
df1

                                                   title  ...                                         prediction
0      did miley cyrus and liam hemsworth secretly ge...  ...  [0.00040790025, -0.0069974544, 0.043367695, 0....
1      paris jackson cara delevingne enjoy night out ...  ...  [0.0054201577, -0.003211912, 0.01313437, 0.060...
2      celebrities join tax march in protest of donal...  ...  [-0.021778336, -0.007887523, -0.012167458, 0.0...
3      cindy crawford daughter kaia gerber wears wig ...  ...  [0.021224087, 0.003118416, -0.035745192, 0.044...
4                 full list of oscar nominations variety  ...  [-0.04263019, 0.028402044, -0.02406443, 0.0112...
...                                                  ...  ...                                                ...
22135  hollywood film awards the complete list of win...  ...  [-0.042594157, 0.03911372, -0.010765053, 0.010...
22136  jada pinkett smith explains why son jaden move...  ...  [0.0073598004, 0.0268158, 0.027973248, 0.02941...
22137  tinsley mortimer reacts to luann de lesseps re...  ...  [0.0011494784, 0.00631718, -0.047285415, 0.044...
22138  prince harry carries on princess diana legacy ...  ...  [-0.020925144, 0.0004961334, 0.012408494, 0.03...
22139  kylie jenner is actually terrified of butterflies  ...  [0.0065836837, -0.016969401, -0.0044947886, 0....

[22140 rows x 3 columns]

In [20]:
type(df1)

pandas.core.frame.DataFrame

In [21]:
df3 = df1.drop(['title'], axis=1)
df3

       labelML                                         prediction
0            0  [0.00040790025, -0.0069974544, 0.043367695, 0....
1            0  [0.0054201577, -0.003211912, 0.01313437, 0.060...
2            0  [-0.021778336, -0.007887523, -0.012167458, 0.0...
3            0  [0.021224087, 0.003118416, -0.035745192, 0.044...
4            0  [-0.04263019, 0.028402044, -0.02406443, 0.0112...
...        ...                                                ...
22135        1  [-0.042594157, 0.03911372, -0.010765053, 0.010...
22136        1  [0.0073598004, 0.0268158, 0.027973248, 0.02941...
22137        1  [0.0011494784, 0.00631718, -0.047285415, 0.044...
22138        1  [-0.020925144, 0.0004961334, 0.012408494, 0.03...
22139        1  [0.0065836837, -0.016969401, -0.0044947886, 0....

[22140 rows x 2 columns]

In [22]:
for index, arr in df3['prediction'].iteritems():
  for i in range(len(arr)):
    df3.loc[index, str(i)] = arr[i]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = infer_fill_value(value)

In [75]:
#df3.to_pickle('ourpickle.pkl', compression=None)

In [23]:
df3

       labelML  ...       299
0            0  ... -0.042299
1            0  ... -0.048723
2            0  ...  0.001560
3            0  ... -0.014923
4            0  ... -0.027207
...        ...  ...       ...
22135        1  ... -0.017928
22136        1  ... -0.000608
22137        1  ... -0.017249
22138        1  ... -0.017282
22139        1  ... -0.007754

[22140 rows x 302 columns]

Will be attempting xgboost here.

In [24]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [25]:
# split data into X and y
X = df3.iloc[:, 2:]
Y = df3['labelML']

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=123)

In [27]:
X_train

              0         1         2  ...       297       298       299
12429  0.007943 -0.005720  0.020046  ...  0.083167 -0.018189 -0.028247
8790   0.036955  0.020513 -0.006274  ...  0.062599 -0.020322  0.027772
14900 -0.019423 -0.000142  0.003272  ...  0.043775 -0.004311 -0.005524
5026  -0.010291 -0.025168 -0.012897  ...  0.063314 -0.032846 -0.013271
11479 -0.024586  0.013117  0.014192  ...  0.092664 -0.011336 -0.015984
...         ...       ...       ...  ...       ...       ...       ...
15377 -0.015992  0.013399 -0.006882  ...  0.064794 -0.045993 -0.018567
21602 -0.036175 -0.012199 -0.005171  ...  0.068257 -0.033809 -0.020828
17730 -0.015883  0.018863  0.010689  ...  0.085256 -0.036704  0.003369
15725  0.005849 -0.007268  0.011372  ...  0.038663 -0.008323  0.008738
19966 -0.030060  0.008007 -0.000975  ...  0.070798 -0.018830 -0.022277

[14833 rows x 300 columns]

In [28]:
# Create arrays for the features and the target: X, y
X, y = df3['prediction'], df3['labelML']
#print(X.columns)

# Create the training and test sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

# Instantiate the XGBClassifier: xg_cl
xg_cl = xgb.XGBClassifier(objective='binary:logistic', n_estimators=10, seed=123)

# Fit the classifier to the training set
xg_cl.fit(X_train, y_train)

# Predict the labels of the test set: preds
preds = xg_cl.predict(X_test)

# Compute the accuracy: accuracy
accuracy = float(np.sum(preds == y_test)) / y_test.shape[0]
print("accuracy: %f" % (accuracy))

accuracy: 0.777611

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_true, y_pred)

#tn, fp, fn, tp = confusion_matrix([0, 1, 0, 1], [1, 1, 1, 0]).ravel()
#>>> (tn, fp, fn, tp)

Next step, keras NN model.