<a href="https://colab.research.google.com/github/verma-saloni/Thesis-Work/blob/main/Copy_of_Clean_Fasttext_10_records.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
!pip install unidecode
!pip install word2number
!pip install contractions

Requirement already satisfied: unidecode in /usr/local/lib/python3.7/dist-packages (1.3.2)
Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)
Requirement already satisfied: contractions in /usr/local/lib/python3.7/dist-packages (0.1.66)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.21)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.3.0)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.2)

In [51]:
import pandas as pd
import numpy as np
import nltk
import gensim
from gensim.models import Word2Vec
import string
string.punctuation
nltk.download('stopwords')
import re
from bs4 import BeautifulSoup
import spacy
import unidecode
from word2number import w2n
import contractions
from nltk.tokenize.treebank import TreebankWordDetokenizer
# load spacy model, can be "en_core_web_sm" as well
from sklearn.model_selection import train_test_split
import xgboost as xgb

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [52]:
from google.colab import drive
drive._mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [53]:
df_fake = pd.read_csv('/content/drive/MyDrive/Thesis/gossipcop_fake.csv')
df_real = pd.read_csv('/content/drive/MyDrive/Thesis/gossipcop_real.csv')
df_fake['labelML']=0
df_real['labelML']=1

df_fake.count()

id           5323
news_url     5067
title        5323
tweet_ids    5135
labelML      5323
dtype: int64

In [54]:
dforiginal = df_fake.head(5).append(df_real.head(5))

In [55]:
#df= df_fake.head(5).append(df_real.head(5))
df= df_fake.append(df_real)
df.reset_index(drop=True, inplace=True)

In [56]:
#print(df.columns)
##df.count()
df

                         id  ... labelML
0      gossipcop-2493749932  ...       0
1      gossipcop-4580247171  ...       0
2       gossipcop-941805037  ...       0
3      gossipcop-2547891536  ...       0
4      gossipcop-5476631226  ...       0
...                     ...  ...     ...
22135      gossipcop-891749  ...       1
22136      gossipcop-941486  ...       1
22137      gossipcop-953143  ...       1
22138      gossipcop-954366  ...       1
22139      gossipcop-877062  ...       1

[22140 rows x 5 columns]

In [57]:
print(df)

                         id  ... labelML
0      gossipcop-2493749932  ...       0
1      gossipcop-4580247171  ...       0
2       gossipcop-941805037  ...       0
3      gossipcop-2547891536  ...       0
4      gossipcop-5476631226  ...       0
...                     ...  ...     ...
22135      gossipcop-891749  ...       1
22136      gossipcop-941486  ...       1
22137      gossipcop-953143  ...       1
22138      gossipcop-954366  ...       1
22139      gossipcop-877062  ...       1

[22140 rows x 5 columns]

In [58]:
df1= df.drop(['tweet_ids', 'news_url','id'], axis=1)
df1.count()

title      22140
labelML    22140
dtype: int64

In [59]:
# NLP Preprocessing
from gensim.utils import simple_preprocess

# NLP Preprocess - gensim.utils.simple_preprocess(doc, deacc=False, min_len=2, max_len=15)[source]
# Convert a document into a list of tokens.
# This lowercases, tokenizes, de-accents (optional). â€“ the output are final tokens = unicode strings, that wonâ€™t be processed any further.

df1.iloc[:, 0] = df1.iloc[:, 0].apply(lambda x: ' '.join(simple_preprocess(x)))

In [60]:
print(df1)
#df1.count()

                                                   title  labelML
0      did miley cyrus and liam hemsworth secretly ge...        0
1      paris jackson cara delevingne enjoy night out ...        0
2      celebrities join tax march in protest of donal...        0
3      cindy crawford daughter kaia gerber wears wig ...        0
4                 full list of oscar nominations variety        0
...                                                  ...      ...
22135  hollywood film awards the complete list of win...        1
22136  jada pinkett smith explains why son jaden move...        1
22137  tinsley mortimer reacts to luann de lesseps re...        1
22138  prince harry carries on princess diana legacy ...        1
22139  kylie jenner is actually terrified of butterflies        1

[22140 rows x 2 columns]

In [61]:
# Prefixing each row of the category column with '__label__' 0;10 all rows. same for column. 
df1.iloc[:, 0] = df1.iloc[:, 0].apply(lambda x: '__label__ ' + x)
#df1.iloc[5:, 0] = df1.iloc[1:, 0].apply(lambda x: '__label__ ' + x)

# NOTE BIG NOTE In general it is important to properly preprocess your data. In particular our example scripts in the root folder do this. i can see why the last cell is wierd, fix in post.

In [62]:
print(df1)

                                                   title  labelML
0      __label__ did miley cyrus and liam hemsworth s...        0
1      __label__ paris jackson cara delevingne enjoy ...        0
2      __label__ celebrities join tax march in protes...        0
3      __label__ cindy crawford daughter kaia gerber ...        0
4       __label__ full list of oscar nominations variety        0
...                                                  ...      ...
22135  __label__ hollywood film awards the complete l...        1
22136  __label__ jada pinkett smith explains why son ...        1
22137  __label__ tinsley mortimer reacts to luann de ...        1
22138  __label__ prince harry carries on princess dia...        1
22139  __label__ kylie jenner is actually terrified o...        1

[22140 rows x 2 columns]

In [63]:
df1.count()

title      22140
labelML    22140
dtype: int64

In [64]:
df2=df1
# ------------- df2 = df2.reindex(columns=['labelML', 'title'])
#print(df1)

In [65]:
traindf, testdf = train_test_split(df2, test_size=0.2)
print(traindf)
print(testdf)  

traindf.count()

                                                   title  labelML
20961  __label__ bella thorne spills the tea on what ...        1
17481  __label__ kim kardashian goes for surprisingly...        1
11828  __label__ harvey weinstein scandal who has acc...        1
7132   __label__ heath ledger documentary what we lea...        1
15429  __label__ nastia liukin praises gymnasts for s...        1
...                                                  ...      ...
2668   __label__ ellen degeneres makes joke about jen...        0
17759            __label__ the best skincare products of        1
7128   __label__ mel says the spice girls were never ...        1
17423  __label__ lala kent thinks tupac took over her...        1
6677   __label__ photos of celebrities not wearing th...        1

[17712 rows x 2 columns]
                                                   title  labelML
19347  __label__ sons of anarchy actor alan neill die...        1
11535  __label__ serena williams shares an empowering...        1
21328  __label__ cardi hides figure in voluminous fri...        1
5384   __label__ leonardo dicaprio makes first appear...        1
1008   __label__ jennifer aniston leaning on brad pit...        0
...                                                  ...      ...
4890   __label__ the kardashian christmas card is bac...        0
7349   __label__ things that inspired margaret atwood...        1
3482   __label__ rachel lindsay reveals the one regre...        0
9858   __label__ spencer pratt reflects on his iconic...        1
1459   __label__ justin theroux pursuing emma stone f...        0

[4428 rows x 2 columns]

title      17712
labelML    17712
dtype: int64

In [66]:
# Saving the CSV file as a text file to train/test the classifier
import csv #needed
traindf[['labelML', 'title']].to_csv('traindf.txt', 
                                          index = False, 
                                          sep = ' ',
                                          header = None, 
                                          quoting = csv.QUOTE_NONE, 
                                          quotechar = "", 
                                          escapechar = " ")

testdf[['labelML', 'title']].to_csv('testdf.txt', 
                                     index = False, 
                                     sep = ' ',
                                     header = None, 
                                     quoting = csv.QUOTE_NONE, 
                                     quotechar = "", 
                                     escapechar = " ")

In [67]:
!pip install fasttext
import fasttext
# Training the fastText classifier
model = fasttext.train_supervised('traindf.txt', wordNgrams = 2, dim=300)

# Evaluating performance on the entire test file
model.test('testdf.txt')                      

# Predicting on a single input
testdf['labelML'] = testdf['labelML'].astype(str)
model.predict(testdf.iloc[1, 0])
#model.test(testdf.txt)

# Save the trained model
#model.save_model('modelFTme.bin')

Requirement already satisfied: fasttext in /usr/local/lib/python3.7/dist-packages (0.9.2)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: pybind11>=2.2 in /usr/local/lib/python3.7/dist-packages (from fasttext) (2.9.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext) (1.19.5)

(('__label__',), array([1.00001001]))

In [68]:
testdf.head()
#print(testdf.columns)

                                                   title labelML
19347  __label__ sons of anarchy actor alan neill die...       1
11535  __label__ serena williams shares an empowering...       1
21328  __label__ cardi hides figure in voluminous fri...       1
5384   __label__ leonardo dicaprio makes first appear...       1
1008   __label__ jennifer aniston leaning on brad pit...       0

In [69]:
model.get_nearest_neighbors('hello')

[(0.22322112321853638, 'tara'),
 (0.21367326378822327, 'quittman'),
 (0.20864391326904297, 'xmas'),
 (0.20477765798568726, 'myspace'),
 (0.20362640917301178, 'amazing'),
 (0.20144712924957275, 'indecent'),
 (0.1942497193813324, 'delaney'),
 (0.1926089972257614, 'horribly'),
 (0.19060228765010834, 'lax'),
 (0.18584252893924713, 'amy')]

This model is running, so trying to change with vectors, or textual input for new vectors. Accuracy is only 50 percent coz I've given it such a balanced dataset.

In [70]:
embedding=[]
for line in df2['title']:
    pred_label=model.get_sentence_vector(line)
    embedding.append(pred_label)

# you add the list to the dataframe, then save the datframe to new csv
df2['prediction']=embedding
df2.to_csv('csv_file_w_pred.csv',index=False)

In [71]:
df2

                                                   title  ...                                         prediction
0      __label__ did miley cyrus and liam hemsworth s...  ...  [1.6669663e-05, 8.239681e-05, -0.00048171758, ...
1      __label__ paris jackson cara delevingne enjoy ...  ...  [2.3270495e-05, 0.0004015812, -2.8936995e-06, ...
2      __label__ celebrities join tax march in protes...  ...  [0.00058013183, 0.00024639844, -0.00029291608,...
3      __label__ cindy crawford daughter kaia gerber ...  ...  [2.6209871e-05, -0.00026430548, 5.9815775e-06,...
4       __label__ full list of oscar nominations variety  ...  [0.00012178716, 0.00052041665, -0.00043820584,...
...                                                  ...  ...                                                ...
22135  __label__ hollywood film awards the complete l...  ...  [0.0003885683, 0.000119031356, -0.00029722182,...
22136  __label__ jada pinkett smith explains why son ...  ...  [0.00031934853, 0.00033909114, -0.0006084566, ...
22137  __label__ tinsley mortimer reacts to luann de ...  ...  [-5.974903e-05, 0.0003673786, -0.00039826173, ...
22138  __label__ prince harry carries on princess dia...  ...  [-5.633611e-05, -0.00014275745, -0.00022375959...
22139  __label__ kylie jenner is actually terrified o...  ...  [-0.00049819914, 0.00021697949, 9.7686876e-05,...

[22140 rows x 3 columns]

In [72]:
type(df2)

pandas.core.frame.DataFrame

In [73]:
df3 = df2.drop(['title'], axis=1)
df3

       labelML                                         prediction
0            0  [1.6669663e-05, 8.239681e-05, -0.00048171758, ...
1            0  [2.3270495e-05, 0.0004015812, -2.8936995e-06, ...
2            0  [0.00058013183, 0.00024639844, -0.00029291608,...
3            0  [2.6209871e-05, -0.00026430548, 5.9815775e-06,...
4            0  [0.00012178716, 0.00052041665, -0.00043820584,...
...        ...                                                ...
22135        1  [0.0003885683, 0.000119031356, -0.00029722182,...
22136        1  [0.00031934853, 0.00033909114, -0.0006084566, ...
22137        1  [-5.974903e-05, 0.0003673786, -0.00039826173, ...
22138        1  [-5.633611e-05, -0.00014275745, -0.00022375959...
22139        1  [-0.00049819914, 0.00021697949, 9.7686876e-05,...

[22140 rows x 2 columns]

In [74]:
for index, arr in df3['prediction'].iteritems():
  for i in range(len(arr)):
    df3.loc[index, str(i)] = arr[i]

In [75]:
df3.to_pickle('ourpickle.pkl', compression=None)

In [76]:
#df3['prediction','new'] = df3['prediction'].str.split(',', expand=True)

In [77]:
df3

       labelML  ...       299
0            0  ...  0.000142
1            0  ... -0.000053
2            0  ... -0.000063
3            0  ...  0.000155
4            0  ... -0.000034
...        ...  ...       ...
22135        1  ...  0.000082
22136        1  ... -0.000294
22137        1  ...  0.000075
22138        1  ...  0.000437
22139        1  ...  0.000377

[22140 rows x 302 columns]

Will be attempting xgboost here.

In [78]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [79]:
# split data into X and y
X = df3.iloc[:, 2:]
Y = df3['labelML']

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=123)

In [81]:
X_train

              0         1         2  ...       297       298       299
12429 -0.000030 -0.000018 -0.000231  ...  0.000188  0.000142 -0.000076
8790   0.000123  0.000927 -0.000421  ...  0.000347 -0.000198  0.000008
14900 -0.000028  0.000216  0.000269  ... -0.000152 -0.000381  0.000462
5026  -0.000225 -0.000440  0.000083  ...  0.000465  0.000516  0.000099
11479 -0.000350  0.000327  0.000068  ...  0.000431  0.000367  0.000108
...         ...       ...       ...  ...       ...       ...       ...
15377 -0.000343  0.000078 -0.000285  ...  0.000615  0.000232  0.000196
21602 -0.000393  0.000221 -0.000622  ...  0.000349  0.000163  0.000278
17730  0.000299  0.000159  0.000145  ...  0.000123 -0.000133 -0.000011
15725 -0.000545 -0.000250 -0.000126  ...  0.000153 -0.000029 -0.000340
19966 -0.000439  0.000740 -0.000329  ...  0.000014  0.000271  0.000038

[14833 rows x 300 columns]

In [82]:
# Create arrays for the features and the target: X, y
X, y = df3['prediction'], df3['labelML']
#print(X.columns)

# Create the training and test sets
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

# Instantiate the XGBClassifier: xg_cl
xg_cl = xgb.XGBClassifier(objective='binary:logistic', n_estimators=10, seed=123)

# Fit the classifier to the training set
xg_cl.fit(X_train, y_train)

# Predict the labels of the test set: preds
preds = xg_cl.predict(X_test)

# Compute the accuracy: accuracy
accuracy = float(np.sum(preds == y_test)) / y_test.shape[0]
print("accuracy: %f" % (accuracy))

accuracy: 0.765020

In [83]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_true, y_pred)

#tn, fp, fn, tp = confusion_matrix([0, 1, 0, 1], [1, 1, 1, 0]).ravel()
#>>> (tn, fp, fn, tp)

NameError: ignored

In [ ]:
type(X)

In [ ]:
y = dfready[['labelML']]

In [ ]:
type(y)

Keras NN model